<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="APPENDER-TEST" class="org.apache.log4j.FileAppender">
        <param name="file" value="test.log" />
        <param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	<appender name="APPENDER-OUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	<logger name="org.test.spring.ClassWithLoggingAspect" additivity="false">
		<level value="info" />
		<appender-ref ref="APPENDER-TEST" />
	</logger>
    <logger name="org.springframework" additivity="false">
        <level value="info" />
        <appender-ref ref="APPENDER-OUT" />
    </logger>
</log4j:configuration>
